{{>header}}
<center><h1>Gestion de cursos</h1></center>
<ul>
    <li>Los cursos con color rojo se encuentran en estado Cerrado</li>
    <li>Los cursos con color verde se encuentran en estado Disponible</li>
    <li>Haga clic sobre el nombre del curso para desplegar los usuarios inscritos</li>
</ul>
{{{gestionarCurso}}}
{{>footer}}