{{>header}}
<center>
    <h1>BIENVENIDO {{nombre}}!</h1><br>
    <img src="https://www.lifeder.com/wp-content/uploads/2017/04/estudio-socioeconomico.jpg" class="img-fluid"
    alt="Responsive image"><br>
    <h1>BUEN ESTUDIO!</h1><br>
</center>
{{>footer}}