<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <title>Educacion continua</title>
</head>

<body>
<center>
     {{{mensaje}}}
     <br>
     <a href="/">Volver</a>
</center>
   

    <footer class="bd-footer text-muted">
        <hr width="100%" style="color: #0d0d0e;" />
        <div class="container-fluid p-3 p-md-5">
            <p>Todos los derechos reservados</p>
            <p>Creado por: Juan Pablo Betancur Giraldo</p>
        </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>